<div class="pt-4">
  <div class="container">
    <div class = "col-md-12">
      <%= form_for @image, :html => {:class => "center"} do |f|%>
        <div class="form-group">
          <%= label_tag(:url, "Post your image URL:", class: "font-weight-bold")  %>
        </div>
        <div class="form-group">
          <%= f.text_field :url, :required => true, class: "col-md-12 form-control required"%>
        </div>
        <% if @image.errors.any? %>
          <div class="input_error_format">
            <%=  @image.errors.full_messages.first %>
          </div>
        <% end %>
        <div class="form-group pt-4">
          <%= f.submit "Submit", class: "btn btn-primary mb-2 " %>
        </div>
      <% end %>
    </div>
  </div>
</div>
